.note-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


.inbox-search{


    background:whitesmoke;
    transition:all .5s ease;
    border-radius:5px;
    border:.1px solid lightgrey;

    /* padding: 13px;
    border-radius: 20px   ; */
}


.option-selects{
    padding: 13px;
    margin: 5px;
    border-radius: 20px;
}