.note-edit{
    position: relative;
    display: flex;
    margin-bottom:60px;
    margin-top:  20px;
    justify-content: space-around;
    font-size: 25px;
}

.note-edit input {
margin: 5px;

}

.edit-color{
    position: absolute;
    
}