.note-list ul {
    columns: auto 10em;
    list-style-type: none;
}

.note-list li{
    break-inside: avoid;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1rem; 
}
    
.edit-button{
    background-color: white;
    border: none;
}