.note-edit{
    display: flex;
    margin-bottom:60px;
    margin-top:  20px;
    justify-content: space-around;
    font-size: 25px;
}

.note-edit input {
margin: 5px;

}

.edit-texts > * {
padding: 10px;


}

.v-button{
    border: none;
    background-color: white;
} 

.v-button:hover{
    color: lightblue;
}