/* .email-edit form{
    display: grid;
    justify-items: start;
    gap: 10px;

    padding: 10px;
    background-color: rgb(255, 255, 255);
}
.email-edit form button {
    justify-self: end;
} */

.edit-container{

width: 40em;
height: 80em;
}
/* The container for the form */
.email-form {
    display: grid;
    grid-template-rows: 2em 2em 15em ;
    /* flex-direction: column; */
    background-color: hsl(0, 0%, 95%);
    border-radius: 4px;
    padding: 20px;
  }
  
  /* The input fields */
  .email-input {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    gap: 2em;
    border: none;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .email-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #1a73e8;
  }
  

 .email-form > .to{
   grid-row: 1/2;
 }
  
  .email-form > .sub{
   grid-row: 2/3;
 }
  .email-form > .msg{
   grid-row: 3/4;
 } 
  
  /* The submit button */
  .email-submit {
    background-color: #1a73e8;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .email-submit:hover {
    background-color: #0d47a1;
  }
  
  
.send-button {
    display: inline-block;
    background-color: #1a73e8;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .send-button:hover {
    background-color: #0d47a1;
  }
  