.email-index{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 14px 20px;
}


.email-index > .side-bar{
    display: flex;
    grid-column: 1/2;
    grid-row: 2/-3;
    list-style: none;
    font-family: Tahoma, Verdana, Geneva, sans-serif;
}

.side-bar{
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: space-evenly; */
    /* gap: 2em; */
    /* border: 1px solid black;  */
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;

    width: 200px;
    height: 100%;
    background-color: #f1f1f1;
    padding: 20px;


    
}


/* .compose{
    width: 10em;
    align-items: center;
    background-color: lightcyan;
    box-shadow: 0px 0px 9px -3px black;
    margin :3em;
    text-align: center;
width: 50%;  
 height: 5%; 
font-size: 1.5rem;
border: .2px solid rgb(0, 15, 15);
border-radius: 1em;
} */

.compose{
    text-align: center;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 1em;
        font-size: 16px;
        cursor: pointer;
        margin-right: 10px;
      
      
}
    
.compose :hover {
    
      background-color: #5a5e62;    
    }




.fa-inbox {
    border: .2px solid rgb(255, 255, 255);
    align-items: center;
    background-color: rgb(102, 193, 193);
    width: 50%; 

 height: 4%; 
 border-radius: 1em;



}

