.email-details {

background-color: black;

    display: grid;
    padding: 10px;
 
    align-content: space-evenly;
    padding: 10px;

}

.email-container{
    cursor: pointer;
display: grid;
grid-template-columns: minmax(1em , 10em) 1fr 5em;
border-bottom: 1px solid black;
gap: 1em;
align-items: center;
}

.email-list :hover{

    background-color: lightgray;
}




.email-container .icons{
    justify-content: space-between;
        grid-column:-2 / -1;
}
.email-container .email-body{

    grid-column:-3/-2;
}
.email-container .fromto{

    grid-column: -3/-4;
}






.email-details  {
    /* width: 200px; */
    justify-self: center;
}

.email-details button {
    justify-self: end;
}



.read { 
 background-color:lightcyan;
     font-weight: bolder; 
 }


.unread{

    background-color:  hwb(0 97% 0%);
    cursor: pointer;
    font-weight: bold;
}
