.email-edit form{
    display: grid;
    justify-items: start;
    gap: 10px;

    padding: 10px;
    background-color: rgb(215, 204, 182);
}
.email-edit form button {
    justify-self: end;
}


.compose{
    background-color: black;
}