.user-msg {
    background-color: lightgray;
    padding: 1em;
    position: absolute;
    top: 50%;
    right: 50%;
}
.user-msg.success {
    background-color: lightgreen;
}
.user-msg.error {
    background-color: lightcoral;
}

.user-msg button {
    float: right;
}